

img{
    width: 1.5rem;
}
a{
   text-decoration: none;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 4.8fr;
}

/* HEAD */
.head{
    border: 1px solid red;
    grid-column: 2;
    padding: 10px 30px;
}
/* .row2 *{border: 1px solid greenyellow;
    } */
.row1{
    display: grid;
    grid-template-columns: auto 1.5fr 1fr 1fr auto;
    align-items: center;
    gap: 10px;
}
.row1-right{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
}

.row2 {
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    align-items: center;
    gap: 5px;
    margin-top: 12px;
}

.row2-right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.heroUser img{
    width: 2.5rem;
}

.row1>p{
    margin: 0;
}

.row2-left p{
    font-size: 0.8rem;
    margin: 2px;
}

/*SIDE BAR*/

.sidebar{
    border: 1px solid blue;
    padding: 20px 30px;
    grid-column: 1;
    grid-row: 1/3;
    
    display: grid;
    align-content: start;
    gap: 60px;
}

.sidebar a{
    display: flex;
    align-items: center;
}
.sidebar img{
    padding-right: 10px;
    width: 1.3rem;
}
.sideTop img{
    width: 2rem;
}
.sideElements1,.sideElements2{
    display: grid;
    gap: 10px;
}

/* MAIN CONTENT */
.main{
    grid-column: 2;
}

.main{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: auto auto;
}

.port, .anuncios, .redes{/* border: 1px solid green;}
.port *, .square{border: 0.1rem solid red; */}

.port{
    padding: 1rem 1.5rem;
    grid-column: 1;
    grid-row: 1/-1;
    
    display: grid;
    grid-template-rows: auto 1fr;
}

.titlePort{
    grid-row: 1;
}

.projects{
    grid-row: 2/3;
    background-color: rgb(255, 253, 253);
    display: grid;
    padding-top: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
}
.square{
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid green;
    border-left: 0.5rem solid black;
    -webkit-box-shadow: 4px 6px 8px 0px #000000; 
    box-shadow: 2px 2px 8px 0px #3e3d3d;

    display: grid;
    grid-template-rows: auto 2fr 1fr;
}
.square p {
    margin: 0;
}
.icoPort{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}


.anuncio, .titleAnuncio, .anuncio * {/* border: 1px solid rgb(149, 100, 100); */}

.anuncios{
    padding: 1rem 0.5rem;
    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
}
.titleAnuncio{
    grid-row: 1;
}

.anuncio{
    padding: 1rem 0;
    padding-bottom: 10px;
}
.squareNews > *:nth-child(even){
    border: 1px solid rgba(148, 121, 121, 0.453);
}
.squareNews{
    border: 1px solid blue;
    padding: 0 1rem 5px;
    border-radius: 10px;
}
.anuncio p{
    margin: 0;
}

.trending{
    grid-column: 2;
    grid-row: 2;
    padding: 1rem 0.5rem;

    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
}
.contenTrend{
    border: 1px solid blue;
    border-radius: 10px;
    padding: 2rem 1rem;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
}

.red{
    display: flex;
    gap: 0.5rem;
}

.contenTrend img{
    width: 2.5rem;
    height: auto;
}
.textRed{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textRed p{
    margin: 1px 2px;
    font-size: 1rem;
}

.textRed p:first-child{
    font-size: 1rem;
    font-weight: 600;
}

h3{
    margin: 0;
}
h5{
    margin: 10px 0;
}


input{
    height: 1.5rem;
}


