div{
    background-color: rgb(217, 124, 124);
}
img{
    width: 1.5rem;
}



/* .red1 *{
    border: 1px dotted green;
}
.red1{
    border: 1px solid black;
    display: flex;
}

.textRed p{
    margin: 1px 2px;
    font-size: 0.7rem;
}

.textRed p:first-child{
    font-size: 0.75rem;
    font-weight: 600;
} */